* {
  box-sizing: border-box;
}

body {
  color: #eee;
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
}

.header-container {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  padding: 0 13em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1em;
}

.header-links {
  display: flex;
  list-style: none;
  gap: 1em;
}

a {
  color: #eee;
  text-decoration: none;
}

.intro-container {
  background-color: #1f2937;
  padding: 3em 13em;
}

.intro {
  display: flex;
  justify-content: space-between;
  padding: 2em 1em;
}

.picture {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.intro-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.intro-heroMain {
  color: #f9faf8;
  font-size: 3em;
  font-weight: 800;
}

.intro-heroSecond {
  color: #e5e7eb;
  font-size: 1em;
}

button {
  color: #eee;
  background-color: #3882f6;
  font-size: 1em;
  font-weight: 500;
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  max-width: 180px;
  transition: background-color 0.1s ease-in-out; /* This make button looks more clickable */
}

button:hover {
  /* This make button looks more clickable */
  background-color: #3e4f6b;
  cursor: pointer;
}

img {
  height: auto;
  width: 140px;
}

.info-container {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 3em 13em;
}

.info-header {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  padding-bottom: 2em;
}

.cards-container {
  display: flex;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10px;
  gap: 1em;
}

figcaption {
  font-size: 1em;
  text-align: center;
}

.quote-section {
  color: #1f2937;
  background-color: #e5e7eb;
  padding: 3em 13em;
}

.quote-container {
  padding: 1em;
}

.quote {
  font-size: 2em;
  font-style: italic;
  font-weight: light;
}

.quotee {
  font-size: 1.25em;
  font-weight: 800;
  text-align: end;
}

.signup-container {
  padding: 3em 13em;
}

.signup {
  background-color: #3882f6;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border-radius: 0.5rem;
}

.signup-main {
  font-size: 1.5em;
  font-weight: 800;
  margin-bottom: auto;
}

.signup-second {
  margin-top: auto;
  padding-right: 1em;
}

.signup-right {
  align-self: center;
}

.signup-button {
  font-size: 1em;
  font-weight: 500;
  border: 0.1em solid #eee;
  min-width: 180px;
}
